{% extends "base.html" %}

{% block title %}Main Program{% endblock title %}

{% block content %}
    Circuit List
    <br>
    {% if qs1 %}
        <ul>
        {% for obj in qs1  %}
            
                <li> 
                    {{obj.circuit_id}} - {{obj.circuit_description}} 
                    , Status: {{obj.circuit_status}}
                    , Cycles: {{obj.num_cycles}}
                    , Events per Cycle : {{obj.events_per_cycle}}
                    , Event Duration : {{obj.event_duration}}
                    , Random: {{obj.random}}
                    , Mode: {{obj.circuit_mode}}
                </li>

        {% endfor %}
    </ul>
    {% else %}
        there are no circuits in data base
    {% endif %}

    {% endblock content %}

