{% extends "base.html" %}

{% block title %}Programs{% endblock title %}

{% block content %}
    Description / Programs List
    <br>
  
    <br>
    {% if qs1 %}
    Descriptions:
        <ul>
        {% for obj in qs1 %}
            <li> 
                Circuit ID: {{obj.circuit_id}},  Description: {{obj.circuit_description}},  Status: {{obj.circuit_status}} 
                ,  Num Cycles: {{obj.num_cycles}},  Events per Cycle: {{obj.events_per_cycle}},  Event Duration: {{obj.event_duration}} 
                ,  Random: {{obj.random}},  Circuit Mode: {{obj.circuit_mode}}
                
            </li>
        {% endfor %}
        </ul>
    {% else %}
        there are no descriptions in data base
    {% endif %}
    {% if qs2 %}
    Programs (solo habilitados):
        <ul>
        {% for obj in qs2 %}
            {% if not obj.circuit_status %}
                <li> 
                    Slug: {{obj.slug}} - Description: {{obj.circuit_id.circuit_description}},  Duration: {{obj.event_duration}},  Random: {{obj.random}},  Mode: {{obj.circuit_mode}} 
                    <a href="{{ obj.get_absolute_url }}" class="btn btn-danger">Detail</a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        there are no programs in data base
    {% endif %}

    reverse relationship:

    1002: {{ mode }}
    <ul>
        {% for instance in related_circuits %}
        <li>
            {{ instance.slug }}
        </li>
        {% endfor %}
    </ul>

    {% endblock content %}

